body {
    background-color:#00ff00;
    text-align: center;
  }


#picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.Button {
    background-color:rgb(255, 123, 0);
    color: #ffffff;
    min-height: 10vmin;
    min-width: 30vmin;
    border-radius: 15px;
    font-size: 36px;
    margin-right: 50px;
}